<footer class="footer">
  <small>
    The Quotebook by <a href="https://github.com/ik15151">Irma Kapetanović</a> | 2015-2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>