<li>  
  <%= link_to author.name, author %>  
  <% if current_user.admin? %>
    | <%= link_to "Delete", author, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
