<li>  
  <%= link_to author.name, author %>  
  <% if current_user.admin? %>
    | <%= link_to " ", author, class: "btn btn-danger btn-xs glyphicon glyphicon-remove", method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
