<% provide(:title, "About") %>
<h1>About</h1>
<h3 class="center">
  Quotebook - notebook for quotes
</h3>

<div class="container">
	<!-- START WHO USES SECTION -->
	<h3>Who uses Quotebook?</h3>
	<br/>
	<div class="whouses">
		<div class="unit one-of-three">
			<p><span><b>Writers</b></span> use Quotebook to record and organize quotes to use in their work. Random quotes provide daily inspiration.</p>
		</div>
		<div class="unit one-of-three">			
			<p><span><b>Parents</b></span> can record emotional, funny and special sayings of their children or other significant family moments.</p>
		</div>
		<div class="unit one-of-three">
			<p><span><b>Students</b></span> use Quotebook to collect quotes for papers.</p>
			<p><span><b>Everyone</b></span> can use Quotebook to keep track of lines from their favorite books.</p>
		</div>
	</div>
	<!-- END WHO USES SECTION -->

</div>
