<% provide(:title, 'News') %>
<h1>News</h1>

<div class="row">
  <div class="">
	<h3>May 2016:</h3>
	<ul>
	  <li>Autocomplete and search users</li>
	  <li>Autocomplete and search authors</li>
	  <li>Social share: Twitter, Facebook, Email</li>
	  <li>Redirection after login: admin-dashboard, user-home</li>
	  <li>News static page</li>
	</ul>
 </div>
</div>

<div class="row">
  <div class="">
	<h3>Oct 2015:</h3>
	<ul>
	  <li>Upgrading to Cedar-14</li>
	</ul>
 </div>
</div>
